<div class="container	">
	<h1>All Bugs </h1>
	<% @project.bugs.each do |bug|%>
		<h2><%= bug.title %></h2>
		<div>
			<%= truncate(bug.description, :length => 35)%>
		</div><br>
		<%= image_tag bug.avatar_url.to_s %>
		<p><strong>Status: </strong><%= bug.status %></p>
		<p><strong>Deadline: </strong><%= bug.deadline %></p>
		<br> 
		<p><%= current_user.name%></p>
    	<div>
    		<%= link_to 'See bug details', project_bug_path(@project,bug) %>
	    </div>
		<hr>
	<% end %>
</div>
